python-dotenv 
groq
Appopener 
Pywhatkit
bs4
pillow 
rich 
requests 
keyboard 
cohere
googlesearch-python 
selenium 
mtranslate
pygame 
edge-tts
PyQt5
webdriver-manager



python-dotenv 
groq
Pywhatkit
bs4
pillow 
rich 
requests 
cohere
googlesearch-python 
selenium 
mtranslate
pygame 
edge-tts
PyQt5
webdriver-manager
SpeechRecognition
pyaudio